<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    

    <main>
      <% if(prod.length > 0){ %>
      <div class="grid">
        <% for(products of prod){ %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= products.title %></h1>
          </header>
          <div class="card__image">
            <img
              src="<%= products.imageUrl %>"
              alt="<%= products.title %>"
            />
          </div>
          <div class="card__content">
            <h2 class="product__price">$ <%= products.price %></h2>
            <p class="product__description">
              <%= products.description %>
            </p>
          </div>
          <div class="card__actions">
           <a href="/admin/edit-product"><button class="btn">Edit</button></a>
           <div>
            <form action="/admin/delete-product" method="post">
              <button class="btn" type="submit">Delete</button>
             </form> 
  
           </div>
           
          </div>
        </article>
        <% } %>
      </div>
      <% } else{ %>
      <h1>No Products Found!</h1>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>

